.apexcharts-legend .vertical-divider {
  display: inline-block;
  margin: 0 30px; /* 범례와 세로선 간 간격 */
  width: 1px; /* 세로선 두께 */
  height: 16px; /* 세로선 높이 */
  background-color: #FFA500; /* 주황색 */
  vertical-align: middle; /* 수직 중앙 정렬 */
}

/* 마지막 세로선 숨기기 */
.apexcharts-legend .apexcharts-legend-series:last-child .vertical-divider {
  display: none;
}

